/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

:root {
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

body {
  margin: 0;
  padding-bottom: 5%;

}

h1 {
  font-family: 'Arial', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  font-size: 3rem;
  font-weight: bolder;
  margin: 5px 0;
  line-height: 1.25;
  text-align: center;
}

h2 {
  font-family: 'Arial', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 5px 0;
  line-height: 1.25;
  color:#c3c2c2;
}

h3 {
  font-family: 'Calibri', 'Trebuchet MS','Arial', 'Gill Sans', 'Gill Sans MT', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h4 {
  font-family: 'Trebuchet MS','Arial', 'Gill Sans', 'Gill Sans MT', 'Calibri', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
  text-align: center;
}

h5 {
  font-family: 'Arial', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h6 {
  font-family: 'Arial', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
  text-align: center;
}

.service-card {
  margin-bottom: 20px;
  margin-top: 10px;
  align-items: stretch;
}

.testimonial-container {
  border-radius: 1%;
  height: 100%;
  align-items: stretch;
}

.testimonial-card {
  background: radial-gradient(circle, rgba(7,59,93,1) 0%, rgba(42,129,118,1) 100%);
  color:white;
  padding: 10px;
  margin: 20px 0 20px 0;
  align-content: space-around;
  min-height: 50px;
  height: 100%;
}

.testimonial-column {
  padding: 10px;
}